/AdjacentRouteElementsConstraint0.java
/ElementWithoutNameConstraint0.java
/NamesMustBeUniqueConstraint0.java
/ReversedRouteElementsConstraint0.java
/RouteElementNotSameLengthAsTrackElementConstraint0.java
/RouteFirstElementConstraint0.java
/RouteNotContainingArrivalOrDepartureStationConstraint0.java
/SectionConnectsToMultiplicityConstraint0.java
/TrackElementsMustBeLongerThanTrainsConstraint0.java
/TrackNotClosedConstraint0.java
/TrainNotOnTrackElementConstraint0.java
/TrainOnAtMostTwoTrackElementsConstraint0.java
/TrainWithoutArrivalOrDepartureStationConstraint0.java
/TrainWithoutRouteConstraint0.java
/TrainsOnSameTrackElementConstraint0.java
/TurnoutConnectsToMultiplicityConstraint0.java
/TurnoutCurrentDirectionConstraint0.java
/TurnoutDesiredDirectionConstraint0.java
/TurnoutSwitchingDirectionConstraint0.java
