<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.bme.hu/mit/inf/gomrp/statemachine/dsl/text/StateMachineDSL" 
       class = "hu.bme.mit.inf.gomrp.statemachine.dsl.text.stateMachineDSL.StateMachineDSLPackage"
       genModel = "model/generated/StateMachineDSL.genmodel" /> 
	
  </extension>



</plugin>
