<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.inf.gomrp.simulation.trace.incquery.Queries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.gomrp.simulation.trace.incquery.Queries" id="hu.bme.mit.inf.gomrp.simulation.trace.incquery.Queries"/>
  </extension>
</plugin>
