<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="hu.bme.mit.inf.gomrp.railway.dsl.design.Activator"
               id="hu.bme.mit.inf.gomrp.railway.dsl.design"
	       name="rdm">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.create.CreateComplexSection"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.csection">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.reconnect.ReconnectHoldSource"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.holdss">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.reconnect.ReconnectConnectsToSource"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.cps">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.reconnect.ReconnectNextElementSource"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.nes">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.reconnect.ReconnectDesiredDirectionSource"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.dds">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.reconnect.ReconnectNextRouteElementSource"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.nres">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.reconnect.ReconnectFirstRouteElementSource"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.fres">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.reconnect.ReconnectRouteSource"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.routes">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.delete.DeleteConnectsTo"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.dconto">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.create.CreateComplexTurnout"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.cturnout">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.create.CreateTrainWRoute"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.twroute">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.create.CreateRouteElementWDesiredDirection"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.rewdd">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.create.CreateComplexStation"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.cstation">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.delete.DeleteTrackElement"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.dte">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.delete.DeleteConnectionPoint"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.dcp">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.delete.DeleteTrain"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.dtrain">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.delete.DeleteRoute"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.droute">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.delete.DeleteRouteElement"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.dre">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.create.CreateRailwayLine"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.crailwayline">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.DoubleClickElement"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.doubleclick">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.create.CreateRoute"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.createroute">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.delete.DeleteStandsOn"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.dstandson">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.reconnect.ReconnectStandsOnSource"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.sos">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.gomrp.railway.dsl.design.actions.TrackElementLengthInheriter"
           id="hu.bme.mit.inf.gomrp.railway.dsl.design.javaactions.telengthinherit">
     </javaActions>
  </extension>
</plugin>
