/.ClassCannotBeItselvesDescendantMatch.java._trace
/.ClassCannotBeItselvesDescendantMatcher.java._trace
/.ClassExtendsAtMostOneClassMatch.java._trace
/.ClassExtendsAtMostOneClassMatcher.java._trace
/.ClassifierMustHaveOnlyOnePackageMatch.java._trace
/.ClassifierMustHaveOnlyOnePackageMatcher.java._trace
/.FinalClassShouldHaveNoDescendantMatch.java._trace
/.FinalClassShouldHaveNoDescendantMatcher.java._trace
/.InterfaceCannotBeItselvesDescendantMatch.java._trace
/.InterfaceCannotBeItselvesDescendantMatcher.java._trace
/.InterfaceHasOnlyFinalFieldsMatch.java._trace
/.InterfaceHasOnlyFinalFieldsMatcher.java._trace
/.InterfaceHasOnlyPublicMembersMatch.java._trace
/.InterfaceHasOnlyPublicMembersMatcher.java._trace
/.InterfaceMustHaveOnlyAbstractMethodsMatch.java._trace
/.InterfaceMustHaveOnlyAbstractMethodsMatcher.java._trace
/.IsMemberMatch.java._trace
/.IsMemberMatcher.java._trace
/.IsSuperclassMatch.java._trace
/.IsSuperclassMatcher.java._trace
/.Queries.java._trace
/ClassCannotBeItselvesDescendantMatch.java
/ClassCannotBeItselvesDescendantMatcher.java
/ClassExtendsAtMostOneClassMatch.java
/ClassExtendsAtMostOneClassMatcher.java
/ClassifierMustHaveOnlyOnePackageMatch.java
/ClassifierMustHaveOnlyOnePackageMatcher.java
/FinalClassShouldHaveNoDescendantMatch.java
/FinalClassShouldHaveNoDescendantMatcher.java
/InterfaceCannotBeItselvesDescendantMatch.java
/InterfaceCannotBeItselvesDescendantMatcher.java
/InterfaceHasOnlyFinalFieldsMatch.java
/InterfaceHasOnlyFinalFieldsMatcher.java
/InterfaceHasOnlyPublicMembersMatch.java
/InterfaceHasOnlyPublicMembersMatcher.java
/InterfaceMustHaveOnlyAbstractMethodsMatch.java
/InterfaceMustHaveOnlyAbstractMethodsMatcher.java
/IsMemberMatch.java
/IsMemberMatcher.java
/IsSuperclassMatch.java
/IsSuperclassMatcher.java
/Queries.java
