<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Railway -->
      <package
            uri="hu.bme.mit.inf.gomrp.railway"
            class="hu.bme.mit.inf.gomrp.railway.RDM.RDMPackage"
            genModel="model/Railway.genmodel"/>
   </extension>

</plugin>
