<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated StateMachine -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hu.bme.mit.inf.gomrp.statemachine.StateMachine.presentation.StateMachineModelWizardID"
            name="%_UI_StateMachineModelWizard_label"
            class="hu.bme.mit.inf.gomrp.statemachine.StateMachine.presentation.StateMachineModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StateMachineModelFile.gif">
         <description>%_UI_StateMachineModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated StateMachine -->
      <editor
            id="hu.bme.mit.inf.gomrp.statemachine.StateMachine.presentation.StateMachineEditorID"
            name="%_UI_StateMachineEditor_label"
            icon="icons/full/obj16/StateMachineModelFile.gif"
            extensions="statemachine"
            class="hu.bme.mit.inf.gomrp.statemachine.StateMachine.presentation.StateMachineEditor"
            contributorClass="hu.bme.mit.inf.gomrp.statemachine.StateMachine.presentation.StateMachineActionBarContributor">
      </editor>
   </extension>

</plugin>
